{{!
    This file is part of Moodle Course Complete Plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursecomplete/index


    Example context (json):
    {

    }
}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">{{table_heading_course}}</th>
            <th scope="col">{{table_heading_state}}</th>
            <th scope="col">{{table_heading_date}}</th>
        </tr>
    </thead>
    <tbody>
{{#courses}}
            <tr>
              <td>{{{title}}}</td>
              <td>{{state}}</td>
              <td>{{date}}</td>
            </tr>
{{/courses}}
    </tbody>
</table>

<input type="button" class="btn btn-primary" value="{{back_url_text}}" onclick="location.href='{{backurl}}'">